@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply flex flex-col items-center justify-center bg-black;
}

#root {
  @apply w-full max-w-screen-xl;
}

input {
  @apply p-4 outline-none border border-gray-300 my-1;
}

.slick-slider .slick-dots li button::before {
  @apply text-blue-500;
}

/* Change the color of the active dot (current slide) */
.slick-slider .slick-dots li.slick-active button::before {
  @apply text-brand;
}
